# Name: JAR_Plugin
# Author: Wayne Rasband
# Version: 1.2
# Date: 2003/12/15
# Requires: ImageJ 1.31s
# Generate the jar file using: "jar cvfM jar_demo.jar *"

Plugins>HDR, "HDR Stack Builder", hdr_plugin.HDR_Plugin("stack")
Plugins>HDR, "HDR Camera Response Function Calculator", hdr_plugin.HDR_Plugin("response")
Plugins>HDR, "HDR Construct Radiance Map", hdr_plugin.HDR_Plugin("radiance")
Plugins>HDR, "HDR Tonemap", hdr_plugin.HDR_Plugin("tonemap")
Help>About Plugins, "HDR Plugin...", hdr_plugin.HDR_Plugin("about2")